
body{
font-family: 'Lato', sans-serif;
padding: 0;
margin: 0;
color: #444;

}

btn {
	margin-top: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}




article{
	margin-top: 50px;
	width: 80%;
	height: auto;
	margin-left: auto;
    margin-right: auto;
}

h1{
	margin: 0 0 0 0;
	font-size: 5.75em;
	font-weight: 600;
	text-align: center;
}

h2{
	margin: 15 0 0 0;
	font-size: 3.5em;
	font-weight: 500;
	text-align: center;
}

h3{
	margin: 15 0 0 0;
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
}


p{
	font-size: 1.1em;
	line-height: 1.65em;
	font-weight: 300;
	letter-spacing: 0.01em;
	text-align: center;

}


section{
	margin-top: 10px;
	min-height: 100px; 
	margin-left: 10%;
	width: 80%;
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	padding: 5px;

}




table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: center;
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #7DC36B;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}


.button{
	margin: 25px;
display: inline-block;
padding: 5px 10px 6px;
text-decoration: none;
font-size: 40px;
line-height: 1.25;
position: relative;
-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.grn{
	color: #7DC36B;
border: 1px solid #7DC36B;
}

.grn:hover{
	background-color: #7DC36B;
	color: #fff;
}


.blue{
		color: #2980B9;
border: 1px solid #2980B9;
}

.blue:hover{
	background-color: #2980B9;
	color: #fff;
}


pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
border: 1px solid #EEE;
background-color: #F9F2F2;
color: #B2361E;
border-radius: 5px;
font-family: Consolas, "Liberation Mono", Courier, monospace;
font-size: 16px;
line-height: 1;
display: inline-block;
}

li{
	list-style-type: none;
	font-size: inherit; !important
	font-size: 1.1em;
line-height: 1.65em;
font-weight: 300;
letter-spacing: 0.01em;
text-align: left;
}

code{
	background-color: #F9F2F2;
	color: #C7254E;
}
